<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="/js/sideNav.js" defer></script>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="main" id="gridContainer">
        <% projects.forEach(project =>{ %>
            <a href="<%= project.link %>" class="card">
                <img src="<%= project.img %>" alt="<%= project.alt %>" style="width:100%">
                <div class="cardContainer">
                    <h4><b>
                        <%= project.title%>
                    </b></h4>
                    <p>
                        <%= project.desc %>
                    </p>
                </div>
            </a>
        <% }); %>
    </div>
    <%- include('./partials/backToTop') %>
</body>
</html>